*{
    margin: 10px;
    padding: 10px;
    box-sizing: border-box;   
}

/*Header*/
.header{ 
      background: #000;

}

.menu{
    background: #f1e9e95d;
}

.logo{
    
}

.nav{

}

.social{

}

h1{
    background: #fff;
}

/*Section*/
.section{
    background: #000;
}

.articulos{
    background: #9c9b9b42;
}

.article{
    background:#e9e3e393 ;
}

.aside{
    background: #fff;
}

/*Footer*/
.footer{
    background: #000;
}

.pie{
    background: #fff;
}